
@import 'variables'; 
@import 'utils';     

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-primary;
  background-color: $color-secondary; 
  color: $color-text-light; 
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.contentWrapper {
  max-width: $breakpoint-widescreen;
  margin: 0 auto;
  padding: 0 $spacing-md;
}

a {
  color: $color-primary;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0px;
}

main {
    padding-top: 60px;
    min-height: 100vh;
}