:root {
  --md-primary-fg-color: #8B0D0D;        /* Vermelho institucional */
  --md-primary-fg-color--light: #B31515;
  --md-primary-fg-color--dark: #5E0909;

  --md-accent-fg-color: #A31212;
}

/* Fundo geral */
body {
  background-color: #FFFFFF;
  color: #1A1A1A;
}

/* Cabeçalho superior */
.md-header {
  background: linear-gradient(90deg, #5E0909, #8B0D0D);
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

/* Sidebar esquerda */
/* .md-sidebar {
  background-color: #F6F6F6 !important;
  border-right: 1px solid #E0E0E0;
} */

/* Item ativo do menu */
.md-nav__link--active {
  color: #8B0D0D !important;
  font-weight: 700;
  border-left: 4px solid #8B0D0D;
  padding-left: 12px;
}

/* Links */
a {
  color: #8B0D0D;
  font-weight: 500;
}

a:hover {
  color: #5E0909;
  text-decoration: underline;
}

/* Títulos */
h1 {
  color: #5E0909;
  border-bottom: 3px solid #8B0D0D;
  padding-bottom: 6px;
}

h2, h3 {
  color: #8B0D0D;
}

/* Blocos de código */
pre {
  background-color: #F4F4F4;
  border-left: 5px solid #8B0D0D;
  border-radius: 6px;
}

/* Caixa de avisos */
/* .md-typeset .admonition {
  border-left: 6px solid #8B0D0D;
  background-color: #FAFAFA;
} */

/* Tabelas */
table {
  border-collapse: collapse;
}

table th {
  background-color: #8B0D0D;
  color: white;
}

table td, table th {
  border: 1px solid #DDD;
  padding: 10px;
}

/* Rodapé */
.md-footer {
  display: none;
  background-color: #F0F0F0;
  color: #444;
  border-top: 2px solid #8B0D0D;
}
