apps/yawara-ysna/app/resources/models/*.keras filter=lfs diff=lfs merge=lfs -text
apps/yawara-ysna/app/resources/data/*.npz filter=lfs diff=lfs merge=lfs -text
apps/yawara-ysna/app/resources/models/*.h5 filter=lfs diff=lfs merge=lfs -text
